body
{  
  flex-direction: row;
  margin: auto;
  width: 640px; 
  height: 640px;
  padding-top:5%;
  padding-left: 10%;
  background: rgb(214, 211, 163);

}
#textOnOne{
  position: relative;
  font-size: 27px;
  width: auto;
  margin-top: -4.8%;
  margin-left: 75%;
  text-overflow: ellipsis; 
  white-space: nowrap;
  }
#draggable
  {position: absolute;
  width: 500px;
  height: 500px;
  left: 55%;
  top: 10%;
  background-image: url("https://scontent.fbkk13-1.fna.fbcdn.net/v/t1.15752-9/311405350_3307298326175624_2616282510626135776_n.png?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGbWmu3012tEkrQhTau06wiWU9kHA7YdLdZT2QcDth0t5lx90qZba5Rc0_ZksYe6tTPvIjQRukE_qgRFfM0q2IV&_nc_ohc=FoA9zQ17NiIAX9KRZMY&_nc_ht=scontent.fbkk13-1.fna&oh=03_AdSITFrRZp366OXl_DKNiJ9vS78QcCGDDH51e0gR9rwUaA&oe=63949863");
  background-size: contain;
  justify-content: center;


}
 

#rotate
  {width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-image: url("BasinCurve/img/White.png");
  background-size: contain;
  Display: grid;
  Grid-template-columns: repeat(12, 1fr);
}



/* image 2 */
#textOnTwo{
  position: relative;
  width: auto;
  font-size: 27px;
  margin-top: -6%;
  margin-left: -30%;

  }
#draggable2
  {position: absolute;
  width: 500px;
  height: 500px;
  right: 55%;
  top: 10%;
  background-image: url("https://scontent.fbkk13-1.fna.fbcdn.net/v/t1.15752-9/311405350_3307298326175624_2616282510626135776_n.png?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGbWmu3012tEkrQhTau06wiWU9kHA7YdLdZT2QcDth0t5lx90qZba5Rc0_ZksYe6tTPvIjQRukE_qgRFfM0q2IV&_nc_ohc=FoA9zQ17NiIAX9KRZMY&_nc_ht=scontent.fbkk13-1.fna&oh=03_AdSITFrRZp366OXl_DKNiJ9vS78QcCGDDH51e0gR9rwUaA&oe=63949863");
  background-size: contain;



}
#con_text2{
  width: auto;
}
#con_text1{
  width: auto;
}

#rotate2
  {width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-image: url("https://scontent.fbkk13-1.fna.fbcdn.net/v/t1.15752-9/311405350_3307298326175624_2616282510626135776_n.png?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGbWmu3012tEkrQhTau06wiWU9kHA7YdLdZT2QcDth0t5lx90qZba5Rc0_ZksYe6tTPvIjQRukE_qgRFfM0q2IV&_nc_ohc=FoA9zQ17NiIAX9KRZMY&_nc_ht=scontent.fbkk13-1.fna&oh=03_AdSITFrRZp366OXl_DKNiJ9vS78QcCGDDH51e0gR9rwUaA&oe=63949863");
  background-size: contain;
  Display: grid;
  Grid-template-columns: repeat(12, 1fr);
}

#text{
  text-overflow: ellipsis;
  font-size: 60px;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

#container_text{
  margin: 0;
  padding: 0;
}

